/* Add CSS Styling */

p {
    background-color: lightpink;
    font-family: 'Verdana', 'dejaVu Sans', sans-serif;
    font-size: 24px
}

#numbertwo {
    font-size: 36px;
    color: blue
}

#numberfour {
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold
}

