/* Add CSS Styling */

.header {
    background-color: black;
    color: white;
}

.body {
    background-color: yellow;
}

.header,.body {
    font-family: 'helvetica', 'Times New Roman', sans-serif;
    font-size:28px
}