body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  text-align: left;
  padding: 10px;

}

.button-container {
  background: #e3f4ff;
  margin-top: 16px;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}